*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
main{
    width: 100%;
    padding: 30px;
    background-color: #000;
    display: flex;
    gap: 10px;
}
.card{
    width: 250px;
    background-color: white;
    border-radius: 7px;
    padding: 20px; 
    text-align: center;
}
.card img{
    width: 150px;
    border-radius: 7px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-top: 10px;
}
.card h3{
    font-size: 26px;
    white-space: nowrap;
}
.card h4{
    font-size: 18px;
    color: crimson;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card p{
    font-size: 14px;
}
