*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body, html{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    background:linear-gradient(rgb(27, 26, 26),rgb(33, 32, 32),rgb(0, 0, 0));
    padding: 10px;
}
section{
    height: 100%;
    width: 400px;
    background-color: black;
    border-radius:10px;
    margin: auto;  /*important for getting in middle position*/
}
.All-reals{
    height: 100%;
    width: 100%;

    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}
.All-reals::-webkit-scrollbar{
    display: none;
}
.reel{
    height: 100%;
    width: 100%;
    position: relative;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
.reel img{
    height: 100%;
    width: 100%;
     border-radius: 10px;
     object-fit: contain;

}
.reel .bottom{
    width: 100%;
    padding: 30px 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.077), rgba(0, 0, 0, 0.042));
    position: absolute;
    bottom: 0;
}
.bottom .user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bottom .user img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.bottom .user h4{
    color: white;
}
button{
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    color: white;
    border: 1px solid white;
    border-radius: 7px;
}
.bottom>h3{
    color: white;
    font-size: 12px;
}
.right{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* transform: translateX(100%); */
    padding: 5px 30px;
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 12%;
    gap:20px;
    color: white;
    /* background: linear-gradient(to right,transparent,rgb(112, 84, 84)); */

}
.right i{
    font-size: 25px;
    font-weight: 500;
}
.right h6{
    font-size: 15px;
    font-weight: 500;
}
.right>div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}
.like .love {
   color: red;
}
.right>div h4{
    pointer-events: none;
}
.right > div h6{
    pointer-events: none;
}