*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: #18212d;
    cursor: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cursor{
    color: red;
    height: 30px;
    font-size: 30px;
    position: absolute;
}

#box{
   width: fit-content;
   border-radius: 10px;
    font-size: 50px;
    padding: 20px 30px ;
    color: #333;
    background-color: lightblue;
}